.DS_Store
*.o
*.exe
*.txt
*.obj
*.suo
*.user
*.pdb
*.ilk
*.log

*.sublime-project
*.sublime-workspace

*.dll

.dub/*
bin/*
Debug/*
Release/*
Unittest/*
test/ignore/*
test/*.db

/server
/server.exe
/client
/client.exe
/test_runner
/test_runner.exe
